{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pubint</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pubint.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pubint.nom }}</td>
            </tr>
            <tr>
                <th>Datedebutpubint</th>
                <td>{% if pubint.datedebutpubint %}{{ pubint.datedebutpubint|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Dateexppubint</th>
                <td>{% if pubint.dateexppubint %}{{ pubint.dateexppubint|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pubint_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pubint_edit', { 'id': pubint.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
