{% extends '@admintmp/Default/index.html.twig' %}
{% block body %}
    <h1>Pubint</h1>



    <table class="table table-dark">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Datedebutpubint</th>
            <th scope="col">Dateexppubint</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>{{ pubint.nom }}</td>
            <td>{% if pubint.datedebutpubint %}{{ pubint.datedebutpubint|date('Y-m-d') }}{% endif %}</td>
            <td>{% if pubint.dateexppubint %}{{ pubint.dateexppubint|date('Y-m-d') }}{% endif %}</td>

        </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pubint_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pubint_edit', { 'id': pubint.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
